*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: #1a1a1a;
    grid-template-areas: "quem-somos send-mail"
                         "social-media send-mail"
                         "address send-mail"
                         "footer footer";
}

.quem-somos{
    grid-area: quem-somos;
    margin-left: 1rem;
    color: #fff;
}

.quem-somos h2{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
}

.quem-somos p{
    font-size: 1.125rem;
    text-align: justify;
}

.social-media{
    grid-area: social-media;
    margin-left: 1rem;
    color: #fff;
}

.social-media h2{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
}

.fab{
    color: #fff;
    padding: 0.4rem;
    font-size: 1.4rem;
    border-radius: 50%;
}

.fa-facebook-f:hover{
    background: #0072c4;
}

.fa-instagram:hover{
    background: #ff247f;
}

.fa-whatsapp:hover{
    background: #035214;
}

.icons-social-media{
    display: flex;
    justify-content: center;
}

.address{
    grid-area: address;
    margin-left: 1rem;
    color: #fff;
}

.address h2{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 0.8rem;
}

.address p{
    display: flex;
    font-size: 1.125rem;
    justify-content: center;
}

.send-mail{
    grid-area: send-mail;
}

.footer{
    grid-area: footer;
}

.form{
    font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button{
    display: block;
    width: 100%;
    color: #fff;
}

.form input,
.form textarea{
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea{
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    border-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

.form button{
    display: block;
    padding: 1rem;
    background: #0072c4;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover,
.form button:focus{
    outline: none;
    background: #09d;
}

.copyright{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;

